Transacciones.json
[{"id":"08d3f991d5605bc2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2f5ae7e2.12b908","type":"debug","z":"08d3f991d5605bc2","name":"trama simulada 34 bytes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":120,"wires":[]},{"id":"47a4278c.65ce68","type":"function","z":"08d3f991d5605bc2","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar mes_0=0;\n\n/**Mes**/\nif(mes_0.payload == isNaN)\n{\n mes_0={payload:Number((dt.getMonth() + 1).toString()[1])+48};\n}\nelse\n{\n   mes_0={payload:48}; \n}\nvar mes_1={payload:Number((dt.getMonth() + 1).toString()[0])+48};\n\n/**Dia**/\nvar dia_0={payload:Number((dt.getDate()).toString()[0])+48};\nvar dia_1={payload:Number((dt.getDate()).toString()[1])+48};\n\n\n/**Año**/\nvar ano_0={payload:Number(dt.getFullYear().toString()[0])+48};\nvar ano_1={payload:Number(dt.getFullYear().toString()[1])+48};\nvar ano_2={payload:Number(dt.getFullYear().toString()[2])+48};\nvar ano_3={payload:Number(dt.getFullYear().toString()[3])+48};\n\n/**Hora**/\nvar hora_0={payload:Number(dt.getHours().toString()[0])+48};\nvar hora_1={payload:Number(dt.getHours().toString()[1])+48};\n\n/**minuto**/\nvar min_0={payload:Number(dt.getMinutes().toString()[0])+48};\nvar min_1={payload:Number(dt.getMinutes().toString()[1])+48};\n\n/**seg**/\nvar seg_0={payload:Number(dt.getSeconds().toString()[0])+48} //{payload:0+48};//\nvar seg_1={payload:Number(dt.getSeconds().toString()[1])+48}// {payload:1+48};//\n \n\n \n//**Mililiters**//\nvar mili_0={payload:Number(dt.getMilliseconds().toString()[0])+48};\nvar mili_1={payload:Number(dt.getMilliseconds().toString()[2])+48};\nvar mili_2={payload:Number(dt.getMilliseconds().toString()[1])+48};\nvar mili_3={payload:Number(dt.getMilliseconds().toString()[1])+48};\n\n/**transaccion_ID**/\nvar id_0={payload:Number(dt.getSeconds().toString()[0])+48};\nvar id_1={payload:Number(dt.getSeconds().toString()[1])+48};\n\n\nvar vector=Buffer.from([mes_0.payload,mes_1.payload,'47',dia_0.payload,dia_1.payload,'47',ano_0.payload,ano_1.payload,ano_2.payload,ano_3.payload,'32',hora_0.payload,hora_1.payload,'58',min_0.payload,min_1.payload,'58',seg_0.payload,seg_1.payload,'65','65','65','32','49','49','49','49','54',mili_0.payload,mili_1.payload,mili_2.payload,mili_3.payload,id_0.payload,id_1.payload]);\n\n\n\nvar TramaOut = {payload: vector};\n\nreturn TramaOut ;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":120,"wires":[["2f5ae7e2.12b908","af24e980d2f06788"]]},{"id":"3bde431b.451a3c","type":"inject","z":"08d3f991d5605bc2","name":"enviar","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["47a4278c.65ce68"]]},{"id":"b75f112aca0fa5a4","type":"function","z":"08d3f991d5605bc2","name":"timestamp","func":"\n\nvar mes= {payload:String.fromCharCode(msg.payload[0])+String.fromCharCode(msg.payload[1])};\nvar dia= {payload:String.fromCharCode(msg.payload[3])+String.fromCharCode(msg.payload[4])};\nvar año= {payload:String.fromCharCode(msg.payload[6])+String.fromCharCode(msg.payload[7])+String.fromCharCode(msg.payload[8])+String.fromCharCode(msg.payload[9])}\n \nvar hora={payload:String.fromCharCode(msg.payload[11])+String.fromCharCode(msg.payload[12])};\nvar min= {payload:String.fromCharCode(msg.payload[14])+String.fromCharCode(msg.payload[15])};\nvar seg= {payload:String.fromCharCode(msg.payload[17])+String.fromCharCode(msg.payload[18])};\n\n \nvar timesTamp = {payload:mes.payload + \"/\"+ dia.payload + \"/\"+ año.payload+ \" \"+ hora.payload+ \":\"+min.payload+\":\"+seg.payload}; \n \n \n \n\n\n\nreturn timesTamp;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":320,"wires":[["849d1f02525c31fb"]],"info":"# Input Trama\n\nFlujo que recibe  trama de datos desde modulos electronicos esclavos. \n\ncalcula los CRC de cada trama y separa por 3 canales:\n\n * 1-Entradas digitales\n * 2-Salidas digitales y fallas de radios\n * 3-Entradas de datos de radios ( estados de teclas y frecuencia y numero de identificación de ATC)"},{"id":"a3d73a7d11866663","type":"function","z":"08d3f991d5605bc2","name":"vehicle_registration","func":"\n\nvar vehicule_parte1= {payload:String.fromCharCode(msg.payload[19])+String.fromCharCode(msg.payload[20])+String.fromCharCode(msg.payload[21])+\" \"};\n\nvar vehicule_parte2= {payload:String.fromCharCode(msg.payload[23])+String.fromCharCode(msg.payload[24])+String.fromCharCode(msg.payload[25])+String.fromCharCode(msg.payload[26])};\n\n\n\n \nvar vehicle_reg = {payload:vehicule_parte1.payload+vehicule_parte2.payload}; \n \n \n \n\n\n\nreturn vehicle_reg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":380,"wires":[["be2a655b8929564f"]],"info":"# Input Trama\n\nFlujo que recibe  trama de datos desde modulos electronicos esclavos. \n\ncalcula los CRC de cada trama y separa por 3 canales:\n\n * 1-Entradas digitales\n * 2-Salidas digitales y fallas de radios\n * 3-Entradas de datos de radios ( estados de teclas y frecuencia y numero de identificación de ATC)"},{"id":"6514b1bd65fc0ff8","type":"function","z":"08d3f991d5605bc2","name":"product","func":"\nvar product= {payload:String.fromCharCode(msg.payload[27])};\n\nreturn product;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":460,"wires":[["bd57243ce7ba9f49"]],"info":"# Input Trama\n\nFlujo que recibe  trama de datos desde modulos electronicos esclavos. \n\ncalcula los CRC de cada trama y separa por 3 canales:\n\n * 1-Entradas digitales\n * 2-Salidas digitales y fallas de radios\n * 3-Entradas de datos de radios ( estados de teclas y frecuencia y numero de identificación de ATC)"},{"id":"e20f06ac59b430da","type":"function","z":"08d3f991d5605bc2","name":"mililiters","func":"\n\nvar mililiters= {payload:String.fromCharCode(msg.payload[28])+String.fromCharCode(msg.payload[29])+String.fromCharCode(msg.payload[30])+String.fromCharCode(msg.payload[31])};\n\nreturn mililiters;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":540,"wires":[["83c0963a1c9f2e02"]],"info":"# Input Trama\n\nFlujo que recibe  trama de datos desde modulos electronicos esclavos. \n\ncalcula los CRC de cada trama y separa por 3 canales:\n\n * 1-Entradas digitales\n * 2-Salidas digitales y fallas de radios\n * 3-Entradas de datos de radios ( estados de teclas y frecuencia y numero de identificación de ATC)"},{"id":"249268e7c0125088","type":"function","z":"08d3f991d5605bc2","name":"transaction_id","func":"\n\nvar transaction_id= {payload:String.fromCharCode(msg.payload[32])+String.fromCharCode(msg.payload[33])};\n\nreturn  transaction_id;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":600,"wires":[["79bd911a614904ef"]],"info":"# Input Trama\n\nFlujo que recibe  trama de datos desde modulos electronicos esclavos. \n\ncalcula los CRC de cada trama y separa por 3 canales:\n\n * 1-Entradas digitales\n * 2-Salidas digitales y fallas de radios\n * 3-Entradas de datos de radios ( estados de teclas y frecuencia y numero de identificación de ATC)"},{"id":"6122739225a810d0","type":"link in","z":"08d3f991d5605bc2","name":"sim de trama de 34 bytes entrada a la pc","links":["af24e980d2f06788"],"x":125,"y":320,"wires":[["b75f112aca0fa5a4","a3d73a7d11866663","6514b1bd65fc0ff8","e20f06ac59b430da","249268e7c0125088","d17a8799f0be6554","dcc916f49bdd543e"]]},{"id":"af24e980d2f06788","type":"link out","z":"08d3f991d5605bc2","name":"sim_trama de datos serial 34 bytes en ascii","links":["6122739225a810d0"],"x":515,"y":40,"wires":[]},{"id":"d17a8799f0be6554","type":"debug","z":"08d3f991d5605bc2","name":"trama simulada (puerto serie) 34 bytes","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":240,"wires":[]},{"id":"8d4d54f8a3d5e06c","type":"catch","z":"08d3f991d5605bc2","name":"","scope":null,"uncaught":false,"x":160,"y":820,"wires":[["b4c359013e8af3fc"]]},{"id":"b4c359013e8af3fc","type":"debug","z":"08d3f991d5605bc2","name":"captura error en tiempo de ejecución","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":820,"wires":[]},{"id":"dcc916f49bdd543e","type":"function","z":"08d3f991d5605bc2","name":"Log","func":"\n\nvar mes= {payload:String.fromCharCode(msg.payload[0])+String.fromCharCode(msg.payload[1])};\nvar dia= {payload:String.fromCharCode(msg.payload[3])+String.fromCharCode(msg.payload[4])};\nvar año= {payload:String.fromCharCode(msg.payload[6])+String.fromCharCode(msg.payload[7])+String.fromCharCode(msg.payload[8])+String.fromCharCode(msg.payload[9])}\n \nvar hora={payload:String.fromCharCode(msg.payload[11])+String.fromCharCode(msg.payload[12])};\nvar min= {payload:String.fromCharCode(msg.payload[14])+String.fromCharCode(msg.payload[15])};\nvar seg= {payload:String.fromCharCode(msg.payload[17])+String.fromCharCode(msg.payload[18])};\n\nvar timesTamp = {payload:mes.payload + \"/\"+ dia.payload + \"/\"+ año.payload+ \" \"+ hora.payload+ \":\"+min.payload+\":\"+seg.payload}; \n \n\nvar vehicule_parte1= {payload:String.fromCharCode(msg.payload[19])+String.fromCharCode(msg.payload[20])+String.fromCharCode(msg.payload[21])+\" \"};\nvar vehicule_parte2= {payload:String.fromCharCode(msg.payload[23])+String.fromCharCode(msg.payload[24])+String.fromCharCode(msg.payload[25])+String.fromCharCode(msg.payload[26])};\n\nvar vehicle_reg = {payload:vehicule_parte1.payload+vehicule_parte2.payload}; \n\nvar product= {payload:String.fromCharCode(msg.payload[27])};\n\nvar mililiters= {payload:String.fromCharCode(msg.payload[28])+String.fromCharCode(msg.payload[29])+String.fromCharCode(msg.payload[30])+String.fromCharCode(msg.payload[31])};\n\nvar transaction_id= {payload:String.fromCharCode(msg.payload[32])+String.fromCharCode(msg.payload[33])};\n\nvar log={payload:\"[\" + timesTamp.payload+ \"] reg:\"+ vehicle_reg.payload+ \" prod:\"+  product.payload + \" ltros:\"+ mililiters.payload+ \" id:\"+ transaction_id.payload}\n\nreturn  log;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":680,"wires":[["dfc9fce9822d78bd","782ed609551057a8"]],"info":"# Input Trama\n\nFlujo que recibe  trama de datos desde modulos electronicos esclavos. \n\ncalcula los CRC de cada trama y separa por 3 canales:\n\n * 1-Entradas digitales\n * 2-Salidas digitales y fallas de radios\n * 3-Entradas de datos de radios ( estados de teclas y frecuencia y numero de identificación de ATC)"},{"id":"dfc9fce9822d78bd","type":"debug","z":"08d3f991d5605bc2","name":"log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":660,"wires":[]},{"id":"83c0963a1c9f2e02","type":"ui_gauge","z":"08d3f991d5605bc2","name":"ltros","group":"0610e61c88625046","order":5,"width":"6","height":"6","gtype":"donut","title":"Litros","label":"units","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3000","seg2":"60000","x":550,"y":540,"wires":[]},{"id":"782ed609551057a8","type":"ui_text","z":"08d3f991d5605bc2","group":"0610e61c88625046","order":1,"width":0,"height":0,"name":"LOG:","label":"LOG:","format":"{{msg.payload}}","layout":"row-left","x":550,"y":700,"wires":[]},{"id":"849d1f02525c31fb","type":"ui_text","z":"08d3f991d5605bc2","group":"0610e61c88625046","order":6,"width":0,"height":0,"name":"","label":"timestamp:","format":"{{msg.payload}}","layout":"row-left","x":570,"y":320,"wires":[]},{"id":"be2a655b8929564f","type":"ui_text","z":"08d3f991d5605bc2","group":"0610e61c88625046","order":4,"width":0,"height":0,"name":"","label":"Reg:","format":"{{msg.payload}}","layout":"row-left","x":550,"y":380,"wires":[]},{"id":"79bd911a614904ef","type":"ui_text","z":"08d3f991d5605bc2","group":"0610e61c88625046","order":2,"width":0,"height":0,"name":"ID","label":"ID:","format":"{{msg.payload}}","layout":"row-left","x":550,"y":600,"wires":[]},{"id":"bd57243ce7ba9f49","type":"ui_text","z":"08d3f991d5605bc2","group":"0610e61c88625046","order":3,"width":0,"height":0,"name":"producto","label":"Producto:","format":"{{msg.payload}}","layout":"row-left","x":560,"y":460,"wires":[]},{"id":"08f2af194f90c50c","type":"ui_button","z":"08d3f991d5605bc2","name":"","group":"f21d83551b2f57fd","order":1,"width":0,"height":0,"passthru":false,"label":"TX_Transacción","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":60,"wires":[["47a4278c.65ce68"]]},{"id":"0610e61c88625046","type":"ui_group","name":"RX_Trama","tab":"cc6defe1dd2c7d6b","order":3,"disp":true,"width":"13","collapse":false},{"id":"f21d83551b2f57fd","type":"ui_group","name":"TX_Trama","tab":"cc6defe1dd2c7d6b","order":1,"disp":true,"width":"6","collapse":false},{"id":"cc6defe1dd2c7d6b","type":"ui_tab","name":"Surtidores ","icon":"dashboard","disabled":false,"hidden":false}]